@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    color: #555;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5em;
}
h3{
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    width: 100%;
}
.container,.row{
    max-width: 1065px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section-title-container{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}
.section-title b{
    display: block;
    flex: 1;
    height: 2px;
    opacity: .9;
    background-color: #abb8c3;
}
.section-title-main{
    margin: 0 15px;
}
/* weekly feature product */
.slide-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
section::-webkit-scrollbar {
    display: none;
}
section .box{
    flex: 0 0 25%;
	cursor: pointer;
    transition: all .3s;
    padding-right: 15px;
}
section .box:nth-child(4){
    padding-right: 0;
}
section .box:last-child{
    padding-right: 0;
}
.product-img-box{
    height: 296px;
    width: 100%;
    position: relative;
}
.product-img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px 100%;
}
.product-img-box .wishlist{
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 5;
    visibility: hidden;
    transition: .3s;
}
.box:hover .wishlist{
    visibility: visible;
 }
.product-img-box .btn{
    min-width: 2.5em;
    min-height: 2.5em;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #abb8c3;
    background-color: transparent;
    transition: background .3s;
}
.product-img-box .btn i{
    color: grey;
    font-size: 15px;
}
.btn:hover{
    background-color: #cf2e2e;
}
.btn:hover i{
    color: #ffffff;
}
.product-img-box .quick-show{
    position: absolute;
    bottom: -100%;
    z-index: 5;
    width: 100%;
    padding: 5px 0;
    transition: .3s;
    background-color: transparent;
    background-color: #446084;
    color: #f1f1f1;
    text-transform: uppercase;
    font-size: .85em;
    font-weight: 700;
    opacity: .95;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}
.product-img-box .quick-show:hover{
    opacity: 1;
    color: #fff;
}
.box:hover .quick-show{
    bottom: 0;
}
.product-desc{
    padding-top: 0.7em;
    font-size: .9em;
}
.product-desc p{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    opacity: .7;
    line-height: 1.2;
    letter-spacing: .05em;
}
.product-desc .product-title{
   padding-top: 11px;
}
.product-desc .price{
    font-size: 19px;
}
.left-arrow{
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 500;
    display: none;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    width: 30px;
    height: 100%;
    -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    transition:.3s;
}
.right-arrow{
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 500;
    display: none;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    width: 30px;
    height: 100%;
    -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    transition: .3s;
}
.right-arrow i{
    font-size: 29px;
    cursor: pointer;
}
.left-arrow i{
    font-size: 29px;
    cursor: pointer;
}
.row:hover .left-arrow,
.row:hover .right-arrow{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-arrow:hover,
.left-arrow:hover{
    background-color: #fff;
}
/* weekly end product */
@media screen and (max-width:800px){
    section .box{
        flex: 0 0 33.333333%;
    }
    section .box:nth-child(3){
        padding-right: 0;
    }
    .row .left-arrow,
    .row .right-arrow{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-arrow:hover,
    .left-arrow:hover{
    background-color: transparent;
    }
}
@media screen and (max-width:700px){
    section .box{
        flex: 0 0 50%;
    }
    section .box:nth-child(2){
        padding-right: 0;
    }
    .row .left-arrow,
    .row .right-arrow{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-arrow:hover,
    .left-arrow:hover{
    background-color: transparent;
    }
}
